.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}
.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.singlePostTitleInput{
    text-align: center;
    margin: 10px;
    font-size: 28px;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.singlePostTitleInput:focus{
    outline: none;
}
.singlePostEdit{
    float: right;
    font-size: 16px;
}
.singlePostIcon{
    margin: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
    color: #b39656;
    font-family: sans-serif;
    width: 100%;
}
.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.singlePostDesc::first-letter{
    font-weight: 600px;
    font-size: 30px;
    margin-left: 20px;
}
.singlePostDescInput{
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.singlePostDescInput:focus{
    outline: none;
}
.singlePostButton{
    border: none;
    background-color: teal;
    padding: 5px;
    width: 100px;
    color: white;
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
    margin-top: 20px;
}